.info {
    padding-top: 6rem;
    position: relative;

    .box_container {
        max-width: 1000px;
        padding: 0 3rem;
    
        .info__img {
            position: relative;
            animation: rightMove 0.5s linear;
            animation-delay: 0.2s;
            margin: 60px 0 30px 0;;

            img {
                padding: 0 20px;
                width: 100%;
                height: 100%;
            }
        }

        .info_right {
            padding: 0;
        }
    
        .form__info {
            background-color: #fff;
            border-radius: 10px;
            box-shadow: $box-shadow2;
            padding: 4rem 2.5rem;
            animation: fadeIn 1s linear;
            animation-delay: 0.2s;
    
            h1 {
                @include styleText($color-tittle, 3.75rem, $fw-700);
                margin-bottom: 5rem;
            }
    
        }
    
        .form__input {
            display: flex;
            padding-bottom: 15px;
            
            .input__wrap {
                flex: 1 1 100%;
                position: relative;
    
                i {
                    position: absolute;
                    font-size: 15px;
                    top: 50%;
                    left: 16px;
                    transform: translateY(-50%);
                    color: $color-prime;
                }
        
                input {
                    width: 100%;
                    border: 1px solid rgba(0,0,0,.1);
                    border-radius: 50px;
                    line-height: 1;
                    font-size: 12px;
                    padding: 12px 12px 12px 42px;

                    &:focus {
                        border: 1px solid rgba(0,0,0,.3);
                    }
                }
            }
    
            .input-text {
                margin-right: 15px;
            }
        }
        
        .choose__wrap {
            position: relative;
    
            i {
                position: absolute;
                font-size: 15px;
                top: 50%;
                left: 16px;
                transform: translateY(-50%);
                color: $color-prime;
            }
        }

        .info__choose {
            height: 40px;
            font-size: 12px;
            border-radius: 50px;
            padding-left: 38px;
            margin-bottom: 15px;
            cursor: pointer;

            &:focus {
                border: 1px solid rgba(0,0,0,.3);
                box-shadow: none;
            }
        }
    
        .info__text-wrap {
            position: relative;
    
            i {
                position: absolute;
                font-size: 15px;
                top: 15%;
                left: 16px;
                color: $color-prime;
            }
        }
    
        .info__text {
            width: 100%;
            border: 1px solid rgba(0,0,0,.1);
            border-radius: 20px;
            padding: 12px 12px 12px 42px;
            height: 90px;
            line-height: 1.5;
            font-size: 12px;
            &:focus {
                border: 1px solid rgba(0,0,0,.3);
            }
        }
    
        .info__btn {
            margin: 40px 0 24px;
            max-width: 150px;
    
            input {
                width: 100%;
                height: 48px;
                display: block;
                font-weight: 600;
            }
        }
    
    }
    .info__bg {
        position: absolute;
        bottom: 0;
        z-index: -1;
        img {
            width: 100%;
            height: 100%;
        }
    }
}

@media (max-width: 1199px) {
    .info .box_container {
        
        .form__info {
            margin: 0 15px;
            h1 {
                font-size: 3rem;
            }
        }

        .info__btn {
            margin-top: 28px;
        }
    }
}



@media (max-width: 992px) {
    .info .box_container {
        .info__img {
            img {
                max-width: 580px;
                max-height: 580px;
                padding: 0;
            }
        }

        .form__info {
            h1 {
                font-size: 3rem;
            }
        }

    }
}