// Color
$color-prime: #b61984;
$color-tittle: #191919;
$color-text: #181818;
$color-white: #fff;
$color-bg: #dcd1f3;

// Font size
$fs-1: 1.3rem;
$fs-2: 1.5rem;
$fs-3: 2.35rem;

// Font width
$fw-400: 400;
$fw-600: 600;
$fw-700: 700;

// Box-shadow
$box-shadow1: 0 0 10px 0 rgba(204, 204, 204, 0.5);
$box-shadow2: 0 30px 30px -10px rgba(0, 0, 0, 0.2);